.progress-group {
    display: flex;
    margin: 0 5px;
    flex-direction: column;
    align-items: center;
}

.progress-connection {
    width: 20%;
    height: 6px;
    border-radius: 3px;
    position: relative;
    bottom: 5px;
}

.progress-step {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.progress-step-complete {
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
}

.bg-light-green {
    background-color: #d1e7dd;
}

.progress-step-incomplete {
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;
}

.progress-title {
    width: 0;
    height: 0;
    left: -80px;
    position: relative;
    white-space: nowrap;
}