.progress-group {
    display: flex;
    margin: 0 5px;
    flex-direction: column;
    align-items: center;
}

.progress-connection {
    flex: 15%;
    height: 0.4rem;
    border-radius: 3px;
    position: relative;
}

.progress-step {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
}

.progress-step-complete {
    background-color: #198754;
    color: white;
}

.bg-light-green {
    background-color: #d1e7dd;
}

.progress-step-incomplete {
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;
}

.progress-title {
    width: min-content;
}

.progress-step-current::before {
    content: "";
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    border-radius: 50%;
    box-shadow: #198754 0px 0px 10px 2px;
    animation: 4s linear 0s infinite normal none running size-animation;
}

.progress-step-current::after {
    content: "";
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    border-radius: 50%;
    box-shadow: #198754 0px 0px 7px 0px;
}

.progress-number {
    position: relative;
    top: 0.2rem;
}

@keyframes size-animation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.responsive-container {
    width: 100%;
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .responsive-container {
        width: 60%;
    }
}